In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df = pd.DataFrame({
    'Nama': ['Andi', 'Budi', 'Cindy', 'Diana', 'Eka', 'Layla'],
    'Gaji': [3000000, 5000000, 7000000, 9000000, 11000000, 90000000],
    'Umur': [25, 30, 35, 40, 45, 30]
})

scaler = MinMaxScaler()
df[['Gaji', 'Umur']] = scaler.fit_transform(df[['Gaji', 'Umur']])

df

    Nama      Gaji  Umur
0   Andi  0.000000  0.00
1   Budi  0.022989  0.25
2  Cindy  0.045977  0.50
3  Diana  0.068966  0.75
4    Eka  0.091954  1.00
5  Layla  1.000000  0.25