In [5]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

gender = ['perempuan', 'laki-laki', 'laki-laki', 'perempuan', 'perempuan', 'perempuan']

df = pd.DataFrame({'gender': gender})

encoder = OneHotEncoder()
encoded_df = pd.DataFrame(encoder.fit_transform(df[['gender']]).toarray(), columns=encoder.get_feature_names_out(['gender']))

df_encoded = pd.concat([df, encoded_df], axis=1)

df_encoded

      gender  gender_laki-laki  gender_perempuan
0  perempuan               0.0               1.0
1  laki-laki               1.0               0.0
2  laki-laki               1.0               0.0
3  perempuan               0.0               1.0
4  perempuan               0.0               1.0
5  perempuan               0.0               1.0