In [4]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

df = pd.DataFrame({
    'Nama': ['Andi', 'Budi', 'Cindy', 'Diana', 'Eka', 'Layla'],
    'Gaji': [3000000, 5000000, 7000000, 9000000, 11000000, 90000000],
    'Umur': [25, 30, 35, 40, 45, 30]
})

scaler = StandardScaler()
df[['Gaji', 'Umur']] = scaler.fit_transform(df[['Gaji', 'Umur']])

df

    Nama      Gaji      Umur
0   Andi -0.574530 -1.364382
1   Budi -0.510097 -0.620174
2  Cindy -0.445664  0.124035
3  Diana -0.381230  0.868243
4    Eka -0.316797  1.612452
5  Layla  2.228318 -0.620174